/* display: block (1,có tính chất khối: có thể đặt đưỡc chiều ngang, chiều dọc
 2, nó sẽ kế thừa chiều ngang của thằng chứa nó */
 .header{
     height: var(--header-height);
     background-image: linear-gradient(0, #fe6433,#f53e2d);

 }
 .header__navbar{
     display: flex;
     justify-content: space-between;
 }
 .header__navbar-list{
     list-style: none;
     /* bỏ dấu chấm cuảt thẻ li */
     padding-left: 0;
     /* bỏ padding mặc định của trình duyệt là 40px  */
     /* margin-top: 2px; */
     margin: 4px 0 0 0;
     display: flex;
 }
 .header__navbar-item{
     margin: 0 8px;
     position: relative;
     min-height: 26px;
     z-index: 1;
 }
 .header__navbar-item--has-qr:hover .header__qr{
    display: block;
 }

 .header__navbar-item--has-notify:hover .header__notify{
    display: block;
 }
 .header__navbar-item,
 .header__navbar-item-link{
     display: inline-block;
     /* vãn giữ lại tínnh chất khối nhưng nằm trên 1 dong */
     font-size: 1.3rem;
     /* =14px */
     color: var(--white-color);
     text-decoration: none;
     /* bỏ gạch chân của thẻ a */
     font-weight: 300;
     /* set độ béo của chữ */
 }
 /* căn giữa cho icon và chữ */
 .header__navbar-icon-link,
 .header__navbar-item-link,
 .header__navbar-item{
    display: inline-flex; 
    align-items: center;
}
 .header__navbar-item:hover,
 .header__navbar-icon-link:hover,
 .header__navbar-item-link:hover{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
 }

 .header__navbar-item--strong{
    font-weight: 500;
 }
 /* pseudo element: lớp giả */
 .header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    /* ngang 1px, dọc 12px cho dấu phân cách*/
    /* CẠHSC 1: width: 1px; */
    border-left: 1px solid #FB9086;
    height: 14px;
    /* background-color: #FB9086; */
    top: 50%;
    right: -9px;
    transform: translateY(-50%);
 }
 .header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
    /* bỏ gạch chân của thẻ a */
 }
 .header__navbar-icon-link:nth-child(2){
     margin-left: 4px;
 }
 .header__navbar-icon{
     font-size: 1.8rem;
     margin: 0 4px;
 }
 .header__navbar-title--nopointer{
     cursor: text;
     color: var(--white-color);
 }
 /* ==========Header qr code========== */
 .header__qr{
    color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 4px;
    /* bo góc */
    display: none;
    animation: FadeIn ease 1s;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0,0.1);
    background-color: var(--white-color);
 }
 .header__qr::before{
     position: absolute;
     left: 0;
     top: -16px;
     width: 100%;
     height: 20px;
     content: "";
     display: block;
 }
 .header__qr-img{
    width: 100%; 
 }
 .header__qr-apps{
    display: flex;
    justify-content: space-between;
 }
 .header__qr--download-img{
    height: 16px;
    z-index: 1;
 }
 .header__qr-link:nth-child(1){
    margin-left: 11px;
 }
 .header__qr-link:nth-child(2){
    margin-right: 11px;
 }

 /* Header Notify */
.header__notify{
    position: absolute;
    z-index: 1;
    top: 100%;
    width: 404px;
    border: 1px solid #D3D3D3;
    background-color: var(--white-color);
    right: 0;
    border-radius: 2px;
    cursor: default;
    /* bỏ hiệu ứng bàn tay khi di chuột */
    animation: headerNotifyGrowth ease-in 0.3s;
    /* transform-origin: top right; */
    transform-origin: calc(100%-32px) top;
    /* xác định tâm cho animation :scale */
    display: none;

}

.header__notify::before{
    content:"";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -29px;
}
.header__notify::after{
    content:"";
    display: block;
    position: absolute;
    width: 90px;  
    height: 20px ; 
    right: 0;
    top: -16px;
    
}
.header__notify-header{
    height: 40px;
    background-color: var(--white-color);

}
.header__notify-header h3{
    color: #999;
    margin:  0 0 0 12px; 
    /* trái */
    
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    cursor: text;
    /* chuột hiển thị đẻ nhập văn bảns */
}
.header__notify-list{
    padding-left: 0;
}
.header__notify-item{
    display: flex;
}
.header__notify-item:hover{
    background-color: #f7f7f7;
}
.header__notify-item--viewed  {
    background-color: rgba(238, 77, 45,0.08);
}
.header__notify-link{
    display: flex;
    padding: 12px;
    text-decoration: none;
    width: 100%;
    
}
.header__notify-img{
    width: 48px;
   object-fit: contain;
   /* cho ảnh không bị méo */
}
.header__notify-info{
    margin-left: 12px;
}
.header__notify-name{
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
}
.header__notify-descreation{
    display: block;
    font-size: 1.2rem;
    color: #756F6E;
    margin-top: 4px;
}
.header__notify-footer{
    /* text-align: center; */
    /* căn giữa chữ xem taast cả */
    display: flex;
    
}
.header__notify-footer-btn{
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 16px;
    margin: auto;;
    font-weight: 400;
    font-size: 1.4rem;
}
@keyframes headerNotifyGrowth{
    from{
        transform: scale(0);
        /* scale(): là độ nở ra */
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}
/* Modal */
.modal{
    position: fixed;
    /* để layout modal chiếm hết màn hình */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: FadeIn linear 0.1s;
}
.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.4);
    /* z-index: 2; */
}

.modal__body{
    --growth-from: 0.7;
    --growth-to:1;
    
    margin: auto;
    /* kết hợp với flex để căn giữa */
    z-index: 1;
   animation: growth linear 0.1ss;
}

/* Authen Modal  */
.authen-form{
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    /* overflow: hidden; */
}
.authen-form__container{
    padding: 0 32px;
}
.authen-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}
.authen__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}
.authen-form__swith-btn{
    font-size: 1.6rem;
     color: var(--primary-color);
     font-weight: 500;
     cursor: pointer;
}

.authen-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;

}
.authen-form__input:focus{
    border-color: #888;
}
.authen-form__aside{
    margin-top: 18px;
}
.authen-form__policy-text{
    font-size: 12px; 
    line-height: 1.8rem;
    text-align: center;
    /* căn ra giữa */
    padding: 0 12px;
    
}
.authen-form__text-link{
    text-decoration: none;
    color: var(--primary-color);
}
.authen-form__controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}
.authen-form__controls-back{
    margin-right: 8px;
}
.authen-form__socials{
   background-color: #F5F5F5;
   padding: 14px 36px;
   display: flex;
   justify-content: space-between;
   margin-top: 22px;
}
.authen-form__socials-icon{
    font-size: 1.8rem;
    margin: 0 12px;
    
}
.authen-form__socials--facebook{
    background-color: #3A5A98;
    color: var(--white-color);
}
.authen-form__socials--facebook 
.authen-form__socials-icon{
    color: var(--white-color);

}
.authen-form__socials-tittle{ 
    margin: 0 32px;
}
.authen-form__socials--google{
    background-color: var(--white-color);
    color: #666;
}
/* thêm cho phần resgister  */
.authen-form__help{
    display: flex;
    justify-content: flex-end;
}
.authen-form__help-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}
.authen-form__help-separate{
    display: block;
    border-left: 1px solid var(--border-color);
    margin: 2px 16px 0;
}
.authen-form__help-link-forgot{
    color: var(--primary-color);
}
/* header with search */
.header-with-search{
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 6px;
}
.header__logo{
    width: 200px;
}
.header__logo-link{
    text-decoration: none;
    color: transparent;
}
.header__logo-img{
    width: 150px;
}
.header__search{
    flex: 1;
    /* để chiếm hết chiều ngang */
    height: 40px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}
.header__cart{
   
    width: 150px;
    text-align: center;
    /* cho thuộc tính này vào thẻ cha thì thẻ con sẽ tự động căn giữa */
}
.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
}
.header__cart-icon{
    font-size: 2.4rem;
    color: var(--white-color);
    margin-top: 6px;
}
.header__cart-list{
    position: absolute;
    right: -3px;
    top: calc(100% + 6px);
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0,0.2);
    display: none;
    animation: FadeIn ease-in-out 0.2s;
    cursor: default;
    /* mất con trỏ khi trỏ vào */
    z-index: 1;
   
}


.header__cart-heading{
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}
.header__cart-list-item{
    padding-left: 0;
    height: 56vh;
    /* vh: view post heigh: chiều cao của trình duyệt */
    overflow-y: scroll;
}
.header__cart-item{
     padding-left: 0;
     list-style: none;
}
.header__cart-item{
    display: flex;
    /* ảnh và ìnffo nên cùng một hàng ngang */
    align-items: center;
}
.header__cart-item:hover{
    background-color: #F8F8F8;
}
.header__cart-img{
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #E8E8E8;
}
.header__cart-item-info{
    width: 100%;
    margin-right: 12px;
}
.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.header__cart-item-name{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    line-height: 2rem;
    max-height: 4rem;
    flex: 1;
    padding-right: 16px;
    /* khi tên quá dài hiện dấu ba chấm */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* khi đó các sản phẩm có tên ngắn sẽ bị lôi */
    text-align: left;
}
.header__cart-item-price{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}
.header__cart-item-mult{
    font-size: 0.9rem;
    color: #757575;
    margin: 0 4px;
}
.header__cart-item-quantity{
    font-size: 1.2rem;
    color: #757575;   
}
.header__cart-item-body{
    display: flex;
    justify-content: space-between;
}
.header__cart-item-descrition{
    color: #757575;
    font-size: 1.3rem;
    font-weight: 300 ;
}
.header__cart-item-remove{
    color: var(--text-color);
    font-size: 1.4rem;
    
}
.header__cart-item-remove:hover{
    color: var(--primary-color);
    cursor: pointer;
}
.header__cart-list::after{
    cursor: pointer;
    content: "";
    position: absolute;
    right: 3px;
    top: -26px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}
.header__cart-wrap:hover .header__cart-list{
    display: block;
}
.header__cart-no-cart-img{
    width: 50%;
    display: none;
}


.header__cart-list--no-cart{
    padding: 24px 0;
   
}
.header__cart-list-no-cart-mgs{
    /* display: block; */
    font-size: 1.6rem;
    margin-top: 14px;
    color: var(--text-color);
    display: none;
}
.header__cart-notice{
    position: absolute;
    padding: 1px 7px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.5rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #EE4D2D;
    top: -4px;
    right: -5px;
}
.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-mgs{
    display: block;
    /* margin: 0 auto; */
    margin-left: auto;
    margin-right: auto;
    /* để căn giữa ảnhs */
}

.header__cart-view-cart{
    float: right;
    margin: 0 12px 12px 0;
    /* trên phải dưới trái */
}
.header__cart-view-cart:hover{
    background-color: #F03D41;
}
.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}
.header__search-input{
  width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}
.header__search-select{
    border-left: 1px solid #E8E8E8;
    padding-left: 16px;
    position: relative;
    font-size: 1.4rem;
    cursor: pointer;
    
}
.header__search-select-label{
    font-size: 1.4rem;
    color: var(--text-color);
}
.header__search-select-label-icon{
    font-size: 1.2rem;
    color: #a8a2a2;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}
.header__search-btn{
    background-color: var(--primary-color);
    border: none;
    height: 36px;
    width: 60px;
    border-radius: 2px;
    margin-right: 3px;
    outline: none;
}
.header__search-btn:hover{
    background-color: #fb6445;
    cursor: pointer;
}
.header__search-btn-icon{
    font-size: 1.4rem;
    color: var(--white-color);
}
.header__search-select:hover .header__search-option{
    display: block;
}
.header__search-option{
    position: absolute;
    right: 0;
    top: 100%;
    width: 130px; 
    list-style: none;
    /* bỏ dấu chấm măch định của thẻ ul li */
    padding: 0;
    /* margin-top: 20px; */
    
    box-shadow: 0 1px 2px rgb(226, 226, 226);
    border-radius: 2px;
    display: none;
    animation: FadeIn ease-in-out 0.2s;
}
/* ------*--tạo cầu nối-------------*---------*------------ */
.header__search-option::after{
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    position: absolute;
  
    left: 0;
    top: -20px;
}
.header__search-option-item{
    background-color: var(--white-color);
    border-radius: 2px;
    padding: 8px 8px;
    
}
.header__search-option-item:first-child{
    border-top-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.header__search-option-item:last-child{
    border-top-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.header__search-option-item:hover{
    background-color: #fafafa;
    cursor: pointer;
}
.header__search-option-item span{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}
.header__search-option-item i{
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}
.header__search-option-item--active i{
    display: inline-block;
}
/* ~: kiến thức css selecter */
.header__search-input:focus ~ .header__search-history {
    display: block;
}
 /* Search history  */
 .header__search-history{
      position: absolute;
      top: calc(100% +2px);
      left: 0;
      /* width: calc(100%-16px); */
      background-color: var(--white-color);
      border-radius: 2px;
      box-shadow: 0 1px 5px rgb(228, 224, 224);
      display: none;
      z-index: 1;
      width: 100%;
      margin-top: 1px;
}
.header__search-history-heading{
    margin: 2px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;

    line-height: 38px;
}
.header__search-history-list{
    padding-left: 0;
    list-style: none;
    margin:   0 ;
}
.header__search-history-item{
    height: 38px;
    padding: 0 16px;
}
.header__search-history-item:last-child{
    border-top-left-radius: 2px;
    border-bottom-right-radius: 2px; 
}
.header__search-history-item:hover{
    background-color: #fafafa;
}
.header__search-history-item a{
    text-decoration: none;
    line-height: 38px;
    font-size: 1.4rem;
    color: var(--text-color);
    display: block;
}
/* user */
.header__navbar-user{
    display: flex;
    justify-items: center;
    position: relative;
   
}
.header__navbar-user-img{
    width: 30px;
    height: 30px ;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0,0.2) ;
}
.header__navbar-user-name{
    margin: 8px 16px;
    margin-left: 8px;
    font-size: 1.4rem;
    font-weight: 400;
}
.header__navbar-user-menu{
    position: absolute;
    padding-left: 0;
    top: 104%;
    right: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    width: 160px;
    list-style: none;
    z-index: 1;
    box-shadow: 0 1px 2px rgb(226, 226, 226);
    display: none;
}
.header__navbar-user-menu::before{
    content:"";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -29px;
}

.header__navbar-user-item--separate{
    border-top: 1px solid rgba(0, 0, 0,0.05);
}
.header__navbar-user-item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 400;
    padding: 11px 15px;
    display: block;
    
}
.header__navbar-user-item a:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.header__navbar-user-item a:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.header__navbar-user-item a:hover{
    background-color: #fafafa;
}
.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}
/* App container */
.app__container{
    background-color: #F5F5F5;
}
.app__content{
    padding-top: 36px;
}
.category{
    border-radius: 2px;
    background-color: var(--white-color);
    /* z-index: -1; */
}
.category-heading{
    color: var(--text-color);
    font-size: 1.7rem;
    padding: 12px 16px;
    margin-top: 0;
    border-bottom: 1px solid rgba(0, 0, 0,0.05);
}
.category-heading-icon{
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}
.category-list{
    padding: 0 0 8px 0;
    list-style: none;
    margin-left: 9px;
}

.category-item--active .category-item__link{
    color: var(--primary-color);

}
.category-item--active .category-item__link::before{
    content: "";
    position: absolute;
    border: 4px solid;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    border-color: transparent transparent transparent var(--primary-color);
}
.category-item__link{
    position: relative;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--text-color);
    padding: 4px 16px;
    display: block;
    right: 0;
    transition: right linear 0.2s;
}
.category-item__link:hover{
    right: -4px;
    color: var(--primary-color);
}
/* Home sort + filter */
.home-filter{
    background-color: rgba(0, 0, 0,0.05);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
    
}
.home-filter__page{
    display: flex;
    align-items: center;   
    margin-left: auto;
    /*  đẩy tụ động thanh control sang trái*/
}
.home-filter__label{
    color: #555555;
    font-size: 1.4rem;
    margin-right: 16px;
}
.home-filter-btn{
    margin-right: 12px;
    min-width: 90px;

}
.home-filter__page-num{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;

}
.home-filter__page-current{
    color: var(--primary-color);
}
.home-filter__page-control{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
    /* 2 nút sẽ tự động chia đôi */
}
.home-filter__page-btn{
    /* width: 36px;
    height: 36px; */
    flex: 1;
    background-color: var(--white-color);
    display: flex;
    text-decoration: none;
}
.home-filter__page-btn--disabled{
    background-color: #f9f9f9;
    cursor: default;
}
.home-filter__page-btn--disabled .home-filter__page-icon{
    color: #ccc;
}
.home-filter__page-btn:first-child{
    border-right: 1px solid #eee;
}
.home-filter__page-icon{
    margin: auto;
    /* tự động nằm giữa */
    color: #555;
}
/* Product item */
.home-product{
    margin-bottom: 10px;
}
.home-product-item{
    position: relative;
    margin-top: 10px;
    background-color: var(--white-color);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0,0.1);
    transition: tranform ease-in-out 0.1s;
    will-change: tranform;
    display: block;
    text-decoration: none;
    line-height: 30px;
}
.home-product-item:hover{
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);  
}
.home-product-item__img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.home-product-item__name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    margin: 10px 10px 8px;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /* hươngs chữ theo chiều dọc */
    -webkit-line-clamp: 2;
    /* giới hạn số dòng là 2 */
    /* text-overflow: ellipsis; */
    /* cho trường hợp 1 dòng mà muôns có dâu s3 chấm video bài 104 (25p03s) */
}
.home-product-item__price{
    display: flex;
    
    align-items: baseline;
    /* chữ trên 1 dòng  */
    flex-wrap: wrap;
    /* khi giá có quá nhiều chưx số sẽ nhảy xuống dòng */
}
.home-product-item__price-old{
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
    /* gạch chân ở giữa */
    margin-left: 10px;
}
.home-product-item__price-new{
    font-size: 1.7rem;
    color: var(--primary-color);
    margin-left: 10px;
}
.home-product-item__action{
    display: flex;
    justify-content: space-between;
    margin: 8px 10px 0;
}
.home-product-item__like{
    font-size: 1.3rem;
}
i.home-product-item__like-icon-fill{
    display: none;
    color: var(--primary-color);
}
.home-product-item__like--liked .home-product-item__like-icon-fill{
    display: inline-block;
}
.home-product-item__like--liked .home-product-item__like-icon-empty{
    display: none;
}
.home-product-item__rating{
    font-size: 1rem;
    transform: scale(0.8);
    transform-origin: right;
    color: #ccc;
    margin: -1px 0 0 auto;
}
.home-product-item__star--gold{
    color: var(--star-gold-color);
}
.home-product-item__sold{
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}
.home-product-item__origin{
    display: flex;
    justify-content: space-between;
    margin: 3px 10px 0;
    /* (trên) (trái phải) (dưới) */
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
}

.home-product-item__favorite{
    position: absolute;
    top: 10px;
     left: -4px;
     color: var(--primary-color);
     background-color: currentColor;
     /* currentColor:  */
     font-size: 1.2rem;
     font-weight: 500;
     line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.home-product-item__favorite i {
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
    color: var(--white-color);
    
}
.home-product-item__favorite::before{
    content: "";
    position: absolute;
    border-left: 3px solid transparent;
    border-top: 3px solid currentColor;
    filter: brightness(60%);
    /* set độ sáng */
    left: 0;
    bottom: -3px;
}
.home-product-item__favorite span{
    color: var(--white-color);
    
}
.home-product-item__sale-off{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 64, 0.94);
    text-align: center;
}
.home-product-item__sale-off::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    border-width: 0 20px 5px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 0.94) transparent rgba(255, 216, 64, 0.94);
}
.home-product-item__sale-off-percent{
    color: #EE4D2D;
    font-size: 1.3rem;
    line-height: 2.0rem;
    font-weight: 600;
   
   
}
.home-product-item__sale-off-label{
    color: var(--white-color);
    font-size: 1.3rem;
    line-height: 1.3rem;
    font-weight: 600;
    position: relative;
    top: -1px;
}
/* dấu trang */
.panigation{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.panigation-item{
    margin: 0 16px;
}
.panigation-item__link{
    --heigh: 30px;
    text-decoration: none;
    color: #939393;
    font-size: 2rem;
    font-weight: 300;
    display: block;
    min-width: 40px;
    height: var(--heigh);
    text-align: center;
    line-height: var(--heigh);
    border-radius: 2px;
}
.panigation-item--active .panigation-item__link{
    background-color: var(--primary-color);
    color: var(--white-color);  
}
.panigation-item--active:hover .panigation-item__link{
    background-color: #ED5C3F;
}
.home-product__pagination{
    margin: 48px 0 32px 0;
}
.panigation-item__icon{
    line-height: var(--heigh) ;
    justify-content: center;
}
/* Footer */
.footer{
    padding-top: 20px;
    border-top: 4px solid var(--primary-color);
    
}
.footer__heading{
    font-size: 1.4rem;
    text-transform: uppercase;
    /* viết hoa toàn bộ */
    color: var(--text-color);
}
.foooter__list{
    padding-left: 0;
    list-style: none;
}
.footer-item__link{
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 8px 0;
    display: flex;
    align-items: center;
}
.footer-item__link:hover{
    color: var(--primary-color);
}
.footer-item__icon{
    font-size: 1.6rem;
    margin: -1px 8px 0 0 ;
}
.footer__download{
    display: flex;
}
.download__qr{
    width: 80px;
    object-fit: contain;
    border: 1px solid var(--border-color);
}
.footer__download-apps{
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer__download-apps-icon{
    height: 20px ;
    margin: 6px;
}
.footer__bottom{
    background-color: #F5F5F5;
    min-height: 48px;
    padding: 12px 0;
    margin-top: 36px;
}
.footer__text{
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
}
